@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

:root {
  --white: #fff;
  --black: #040c18;
  --orange: #ff4820;
  --orange-hover: #ff4920c9;
  --DarkBlue: #002853;
  --DarkBlue2: #042c54;
  --DarkBlue3: #072d56;
  --Gradient-purple: #ae67fa;
  --Gradient-orange: #f49867;
  --text-blue: #81afdd;
}

body {
  background-image: linear-gradient(to right bottom, #002853, #022347, #051f3c, #071a31, #081526, #081526, #081526, #081526, #071a31, #051f3c, #022347, #002853);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navbar Styling */
.navbar {
  font-family: 'Roboto', sans-serif;
  margin: 3rem;
}

.navbar-brand {
  font-weight: 900;
}

.navbar-nav {
  margin: 0 1rem;
}

.nav-link {
  margin: 0 0.5rem;
}

.navbar-nav > a {
  border-bottom: 0.1875rem solid rgba(255, 255, 255, 0);
}

.navbar-nav > a.active,
.navbar-nav > a:focus {
  border-bottom: 0.1875rem solid var(--text-blue);
  border-radius: 0.1845rem;
  color: var(--white) !important;
}
/* Navbar Styling */

/* Header Styling */
.header h1 {
  font-family: 'Roboto', sans-serif;
  cursor: default;
  font-size: 5rem;
  font-weight: 900;
  background: #ae67fa;
  background: -webkit-linear-gradient(to right, #ae67fa 0%, #f49867 100%);
  background: -moz-linear-gradient(to right, #ae67fa 0%, #f49867 100%);
  background: linear-gradient(to right, #ae67fa 0%, #f49867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header span {
  font-family: 'Roboto', sans-serif;
  cursor: default;
  font-size: 4rem;
  font-weight: 900;
  background: #ae67fa;
  background: -webkit-linear-gradient(to right, #ae67fa 0%, #f49867 100%);
  background: -moz-linear-gradient(to right, #ae67fa 0%, #f49867 100%);
  background: linear-gradient(to right, #ae67fa 0%, #f49867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header img {
  height: 45vh;
}

.header button {
  background-color: var(--orange);
  padding: 0.4125rem;
  margin-left: 8rem;
  font-family: 'Roboto', sans-serif;
  color: var(--white);
  border-radius: 2rem;
  border: none;
}

.header button:hover {
  background-color: var(--orange-hover);
}
/* Header Styling */

/* About Styling */
.About {
  margin-top: 7rem;
}

.About .container {
  background-image: linear-gradient(to right bottom, #0f4279, #0d3e72, #0a396b, #083564, #06315d, #063565, #063a6c, #053e74, #074c8d, #0c5aa8, #1369c2, #1b78de);
  height: 55vh;
  margin-bottom: 5rem;
  width: 90vh;
  border-radius: 1rem;
}

.About .container .container .row .col-6 h4 {
  color: var(--white);
  margin-top: 1.5rem;
  padding-left: 1rem;
  font-size: 2rem;
}
/* About Styling */
